<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            div {
                color:cadetblue;
                text-align: center;
                background-color:antiquewhite;
                }
    </style>
</head>
<body>
<div>

    <h1>Welcome to the AngryBirds website</h1>
    <a href="./{{birds}}">angry bird list</a>
  
</div>
</body>
</html>